<div id="notification">
  <div id="message"></div>
</div>

<div class="movie-page">
  <% if @movies.empty? %>
    <h4 class="no-movies">No movies to play!</h4>
  <% else %>
    <div class="movies">
      <% @movies.each_with_index do |movie, index| %>
        <div class="movie">
          <%= movie %>
        </div>
      <% end %>
    </div>
<% end %>
</div>
