<div id="notification">
  <div id="message"></div>
</div>

<div class="movie-page">
  <% if @movies.empty? %>
  <% else %>
    <div class="movies">
      <% @movies.each_with_index do |movie, index| %>
        <% movie_data = movie_json(readable(movie)) %>
        <div class="movie">
          <%= image_tag movie_poster(movie_data), class: "movie-poster" %>
        </div>
      <% end %>
    </div>
<% end %>
</div>
