<%= form_for user do |form| %>
	<div>
	<%= form.label "Your name" %>
	<%= form.text_field :name, placeholder: "Your username", required: true, minlength: 4, value: user.name %>
	</div>
	<%= form.submit "Submit" %>
<% end %>