<ul id="users" class="users">
<% users.each do |user| %>
	<li class="user" id="user-<%= user.id %>">
		<%= link_to users_login_path(user.id), class: "user-login-link", method: :post do %>
			<%= fa_icon 'user', class: 'user-icon' %>
			<span class="user-name"><%= user.name %></span>
		<% end %>
	</li>
<% end %>
</ul>