/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require_tree .
 *= require_self
 */
body {
    margin: 0;
	font-family: 'Lato', sans-serif;
	color: white;
	background: #191919;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 25px;
}
a {
	color: white;
}
input {
	display: block;
    border: none;
    padding: 3px 5px;
    font-size: 16px;
    border-radius: 0px;
    border-bottom: 1px solid #c5050c;
    margin: 10px 0;
    background: transparent;
    box-shadow: none;
    color: white;
}
input:focus {
	outline: none;
	border: none;
    border-bottom: 1px solid red;
}
.button {
	display: block;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 3px;
    border: 2px solid #6f0004;
    margin: 10px 0;
    color: white;
    background: #c5050c;
    text-transform: capitalize;
    font-size: 12px;
    font-weight: bolder;
    letter-spacing: 1px;
}
.button:hover {
	cursor: pointer;
	background: #6f0004;
}