<nav id="main-navbar">
	<% if current_user %>
		<span class="navbar-link welcome-message">Hello <%= current_user.name %>!</span>
		<a href="/" class="<%= is_active('movies') ? 'active navbar-link' : 'navbar-link' %>">Movies</a>
		<%= link_to 'Profile', edit_user_path(current_user), class: is_active('edit') ? "active navbar-link" : "navbar-link" %>		
		<%= link_to 'Logout', users_logout_path, method: :post, class: "navbar-link navbar-login-logout" %>
	<% else %>
		<span class="navbar-link welcome-message">Login to watch!</span>
	<% end %>
</nav>